# ===========================================
# Azure DevOps Pipeline - .NET
# -------------------------------------------
# Builds and runs tests for .NET solutions. 
# Includes NuGet restore and Visual Studio build steps.
# Add steps to publish symbols, save artifacts,
# and more: https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net
# ===========================================

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'Servy.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
