# Top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# MSBuild / Project Files
[*.{csproj,fsproj,vbproj,props,targets,manifest}]
indent_style = space
indent_size = 2

# PowerShell Scripts
[*.{ps1,psm1,psd1}]
indent_style = space
indent_size = 4

# JSON / YAML / Web Configs
[*.{json,yml,yaml,xml,config}]
indent_style = space
indent_size = 2

# Markdown Files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
