<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Data Source=C:\ProgramData\Servy\db\Servy.db;Busy Timeout=5000;Journal Mode=WAL;" />
    <add key="Security:AESKeyFilePath" value="C:\ProgramData\Servy\security\aes_key.dat" />
    <add key="Security:AESIVFilePath" value="C:\ProgramData\Servy\security\aes_iv.dat" />
    
    <add key="RestartTimeoutSeconds" value="120"/>
    
    <add key="LogLevel" value="INFO" />
    <add key="EnableEventLog" value="true" />
    <add key="LogRotationSizeMB" value="10" />
    <add key="LogRollingInterval" value="NONE" />
    <add key="UseLocalTimeForRotation" value="false" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>