name: tmp

on:
  workflow_dispatch:

jobs:
  setup-tools:
    runs-on: windows-latest

    steps:
      # ---------------------------
      # Inno Setup
      # ---------------------------
      - name: Install or Upgrade Inno Setup
        shell: pwsh
        run: |
          winget install -e --id JRSoftware.InnoSetup --version 6.6.1 --accept-source-agreements --accept-package-agreements || $true
          $global:LASTEXITCODE = 0
        
      - name: Show Inno Setup Version
        run: ISCC.exe /? || true


      # ---------------------------
      # 7-Zip
      # ---------------------------
      - name: Install or Upgrade 7-Zip
        shell: pwsh
        run: |
          winget install -e --id 7zip.7zip --version 25.01 --accept-source-agreements --accept-package-agreements || $true
          $global:LASTEXITCODE = 0

      - name: Show 7-Zip Version
        run: 7z.exe -version || true

